/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        turn-off {
            bindings = <&soft_off>;
            key-positions = <0 1 2>;
            timeout-ms = <20>;
            require-prior-idle-ms = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&bt BT_NXT  &bt BT_PRV         &bt BT_CLR
&kp K_EXEC  &kp K_POWER        &kp C_AL_FILE_BROWSER
&kp K_WWW   &ext_power EP_TOG  &kp K_CUT
&kp K_CUT   &kp K_COPY         &kp K_PASTE
            >;
        };
    };
};
