/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        f: f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(F) &kp U &kp C &kp K &kp SPACE &kp Y &kp O &kp U>;
            label = "F";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&f      &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };
    };
};
