#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt-clear-all {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <0 2 1>;
        };

        soft-off {
            bindings = <&soft_off>;
            key-positions = <3 4 5>;
        };
    };

    macros {
        github_jainamoswal: github_jainamoswal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp N &kp F &kp I &kp G &kp SPACE &kp U &kp S &kp E &kp R &kp DOT &kp N &kp A &kp M &kp E &kp SPACE &kp DQT &kp J &kp A &kp I &kp N &kp A &kp M &kp O &kp S &kp W &kp A &kp L &kp DQT &kp RET &kp G &kp I &kp T &kp SPACE &kp C &kp O &kp N &kp F &kp I &kp G &kp SPACE &kp U &kp S &kp E &kp R &kp DOT &kp E &kp M &kp A &kp I &kp L &kp SPACE &kp DQT &kp N7 &kp N6 &kp N0 &kp N5 &kp N7 &kp N3 &kp N4 &kp N8 &kp PLUS &kp J &kp A &kp I &kp N &kp A &kp M &kp O &kp S &kp W &kp A &kp L &kp AT &kp U &kp S &kp E &kp R &kp S &kp DOT &kp N &kp O &kp R &kp E &kp P &kp L &kp Y &kp DOT &kp G &kp I &kp T &kp H &kp U &kp B &kp DOT &kp C &kp O &kp M &kp DQT &kp RET>;
            label = "GITHUB_JAINAMOSWAL";
        };

        git_slice: git_slice {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp N &kp F &kp I &kp G &kp SPACE &kp U &kp S &kp E &kp R &kp DOT &kp N &kp A &kp M &kp E &kp SPACE &kp DQT &kp S &kp L &kp I &kp C &kp E &kp DQT &kp RET &kp G &kp I &kp T &kp SPACE &kp C &kp O &kp N &kp F &kp I &kp G &kp SPACE &kp U &kp S &kp E &kp R &kp DOT &kp E &kp M &kp A &kp I &kp L &kp SPACE &kp DQT &kp N1 &kp N4 &kp N0 &kp N9 &kp N0 &kp N8 &kp N2 &kp N6 &kp N5 &kp PLUS &kp R &kp N0 &kp U &kp T &kp E &kp D &kp AT &kp U &kp S &kp E &kp R &kp S &kp DOT &kp N &kp O &kp R &kp E &kp P &kp L &kp Y &kp DOT &kp G &kp I &kp T &kp H &kp U &kp B &kp DOT &kp C &kp O &kp M &kp DQT>;
            label = "GIT_SLICE";
        };

        venv: venv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp Y &kp T &kp H &kp O &kp N &kp N3 &kp SPACE &kp MINUS &kp M &kp SPACE &kp V &kp E &kp N &kp V &kp SPACE &kp DOT &kp V &kp E &kp N &kp V &kp SPACE &kp RET &kp S &kp O &kp U &kp R &kp C &kp E &kp SPACE &kp DOT &kp FSLH &kp V &kp E &kp N &kp V &kp FSLH &kp B &kp I &kp N &kp FSLH &kp A &kp C &kp T &kp I &kp V &kp A &kp T &kp E>;
            label = "VENV";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&github_jainamoswal  &git_slice  &venv
&trans               &trans      &trans
&trans               &trans      &trans
&trans               &trans      &trans
            >;
        };
    };
};
